.jtym{
    height: auto;
    width: auto;
    font-size: 50px;
    background-color: #a9a7a7;
    float: left;
    margin: 10px 5px 10px 0px;
    padding: 10px 10px 10px 10px;
    cursor:pointer; /*鼠标样式*/
    transition: all 0.6s; /*过度动画*/
}

.dtym{
    height: auto;
    width: auto;
    font-size: 50px;
    background-color: #4bdd6f;
    float: left;
    margin: 10px 5px 10px 0px;
    padding: 10px 10px 10px 10px;
    cursor:pointer; /*鼠标样式*/
    transition: all 0.6s; /*过度动画*/
}

.jtym:hover{
    transition: all 0.6s;
	background-color: #bdbbbb;
    font-size: 60px;
}

.dtym:hover{
    transition: all 0.6s;
	background-color: #43ff72;
    font-size: 60px;
}