.menu{
	height:50px;
	line-height:50px;
	font-size:20px;
	background-color:#d0d0d0;
	border-radius:5px;
}
.menu ul{
    list-style:none;
    margin: 0px; 
    padding: 0px; 
}
.menu ul li{
    float:left; 
    width:auto;
    border-radius:5px;
}
.menu ul li a{
    display:block;
    color: #000000;
    padding: 0px 10px;
    text-decoration: none; 
    text-align: center;
}
.menu ul li a:hover{
    color: #ffffff;
}
.menu ul li:hover{
    background-color: #000000;
    color: #ffffff;
}