/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav .logo {
    color: #fff;
    font-size: 24px;
}

nav .menu {
    display: flex;
}

nav .menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s;
}

nav .menu a:hover {
    background-color: #575757;
    transition: all 0.3s;
}

nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

nav .hamburger span {
    background-color: #fff;
    height: 3px;
    margin: 5px;
    width: 25px;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav .menu a {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #575757;
    }

    nav .hamburger {
        display: flex;
    }

    nav .menu.active {
        display: flex;
    }
}
