<!DOCTYPE html>
<html lang="zh" class="js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>流量消耗器</title>
    <meta name="keywords" content="流量消耗器">
    <meta name="description" content="流量消耗器">
    <link rel="stylesheet" href="./css/dashlite.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./picture/index.ico">
    <link rel="manifest" href="./manifest.json">
</head>

<body class="nk-body npc-invest bg-lighter " style="cursor:pointer">
    <!-- wrap @s -->
    <div class="nk-wrap ">
        <!-- main header @s -->
        <div class="nk-header nk-header-fluid nk-header-fixed is-light">
            <div class="container-xl">
                <div class="nk-header-wrap link-between">
                    <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em
                                class="icon ni ni-menu"></em></a>
                    </div>
                    <div class="nk-header-brand">
                        <a href="#" class="logo-link text-base"><img src="./picture/llxhq.png"
                                class="hide-mb-sm">流量消耗器</a>
                    </div>
                    <!-- .nk-header-brand -->
                    <div class="nk-header-tools nk-header-menu" data-content="headerNav">
                        <div class="nk-header-mobile">
                            <div class="nk-header-brand">
                                <a href="/" class="logo-link text-base">
                                    <span class="nio-version" style="font-size: 21px;position: inherit;">零玖互联</span>
                                </a>
                            </div>
                            <div class="nk-menu-trigger mr-n2">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em
                                        class="icon ni ni-arrow-left"></em></a>
                            </div>
                        </div>
                        <!-- Menu -->
                        <ul class="nk-menu nk-menu-main">
                            <li class="nk-menu-item ">
                                <a href="#" class="nk-menu-link nk-ibx-action-item">
                                    <em class="icon ni ni-home"></em>
                                    <span class="nk-menu-text">首页</span>
                                </a>
                            </li>
                            <li class="nk-menu-item ">
                                <a href="#" class="nk-menu-link nk-ibx-action-item" onclick="ipsearch()">
                                    <em class="icon ni ni-policy"></em>
                                    <span class="nk-menu-text">IP归属查询</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- .nk-header-menu -->
                    <div class="no-gutters">
                        <ul class="nk-quick-nav">
                            <li class="dropdown">
                                <a href="javascript:;" class="progress-rating dark-switch ">
                                    <span class="nk-menu-icon">
                                        <em class="icon ni ni-moon"></em>
                                        <em class="icon ni ni-sun d-none"></em>
                                    </span>
                                </a>
                            </li>

                            <!-- .dropdown -->
                        </ul>
                        <!-- .nk-quick-nav -->
                    </div>
                    <!-- .nk-header-tools -->
                </div>
                <!-- .nk-header-wrap -->
            </div>
            <!-- .container-fliud -->
        </div>
        <!-- main header @e -->
        <!-- content @s -->
        <div class="nk-content nk-content-lg nk-content-fluid">

            <style>
                .stat {
                    width: 100%;
                    column-gap: 1rem;
                    padding: 1rem 1.5rem;
                }

                .stat-title {
                    white-space: nowrap;
                    opacity: .6;
                }

                .stat-value {
                    white-space: nowrap;
                    grid-column-start: 1;
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 2.5rem
                }
            </style>
            <div class="container-xl" id="app">
                <div class="col-sm-12 col-md-10 col-xl-8 center-block">
                    <div class="card card-preview">
                        <div class="card-inner mt-3">
                            <div class="nya-title nk-ibx-action-item progress-rating">
                                <span class="nk-menu-text font-weight-bold">流量消耗器</span>
                            </div>
                            <div class="form-group">
                                <p> <b>声明</b>：本工具仅自用，并无后门，且工作原理很简单，就是js来替你循环下载一些资源文件而已，不放心用可以不用哈，不用非得踩一脚说我会往你手机下载木马病毒！
                                </p>

                                <p>Tip:速度不满意？请尝试手工切换节点，加大线程<br />带的箭头↓👇的为主分类，请点击箭头下方的内容</p>
                                <label class="form-label"></label>
                                <h6><em class="icon ni ni-info"></em> 下载链接</h6>
                                <div class="form-control-wrap">
                                    <select type="text" v-model="set.input" class="form-control"
                                        autocomplete='new-password'>
                                        <option value="https://cachefly.cachefly.net/50mb.test" selected="selected">默认
                                            [如需其他请下拉选择节点或直接输入资源链接] </option>
                                        <optgroup label="👇👇  中国移动 👇👇">
                                            <option
                                                value="https://d.musicapp.migu.cn/upload/fbpt_rsync_apps/local/signed/MobileMusic7445/MobileMusic7445_014000D_20250220215544764.apk">
                                                咪咕音乐</option>
                                            <option
                                                value="https://img.mcloud.139.com/material_prod/material_media/20221128/1669626861087.png">
                                                和彩云1</option>
                                            <option
                                                value="https://plaza.cmgame.com:8443/resource/upload/records/tvapk/apk/6.9.1.0_0_5132_2021-12-29_10011000000_xw_sec_signed_signed_signed.apk">
                                                咪咕快游1</option>
                                            <option
                                                value="https://pc-dl.migufun.com:8443/channelpackage/mgame-2djSBy.exe">
                                                咪咕快游2</option>
                                            <option
                                                value="https://freeserver.migufun.com/resource/beta/video/system/20210924112351666.mp4">
                                                咪咕快游3</option>
                                            <option
                                                value="https://freeserver.migufun.com/resource/beta/apk/20231114094513/MiguPlay-V3.69.1.1_miguzsj.apk">
                                                咪咕快游4</option>
                                        <optgroup label="👇👇  中国电信 👇👇">
                                            <option
                                                value="https://desk.ctyun.cn/desktop/software/clientsoftware/download/98608b8c387dfeaf48698f514e3c657f">
                                                天翼云1</option>
                                            <option
                                                value="https://desk.ctyun.cn:8999/desktop-prod/software/android_client/20/64/102010101/clouddesktoc_phone_2.1.1_452_prod_102010101_2.1.1_signed.apk">
                                                天翼云2</option>
                                            <option
                                                value="https://desk.ctyun.cn/desktop/software/clientsoftware/download/50218cd4d2286623049e374061cffd0e">
                                                天翼云3-翼加密客户端</option>
                                            <option
                                                value="https://desk.ctyun.cn/desktop/software/clientsoftware/download/ff3e71dcc21152307f54700c62e5aef6">
                                                天翼云应用市场</option>
                                        <optgroup label="👇👇 百度 👇👇">
                                            <option
                                                value="https://ly5cnc.71edge.com/cdn/pca/20250219/13.2.0.9028/channel/1739935573890/IQIYIsetup_z43n.exe">
                                                爱奇艺</option>
                                            <option
                                                value="https://fanyi-cdn.cdn.bcebos.com/static/api-ssr/static/js/2.1c6a3a74.chunk.js">
                                                百度对象存储资源</option>
                                        <optgroup label="👇👇 阿里系 👇👇">
                                            <option
                                                value="https://img.alicdn.com/imgextra/i1/O1CN01xA4P9S1JsW2WEg0e1_!!6000000001084-2-tps-2880-560.png">
                                                阿里图片CDN域名加速</option>
                                            <option
                                                value="https://mdn.alipayobjects.com/ind_developertool/afts/file/A*fSAmSbgxLosAAAAAAAAAAAAADlx-AQ?af_fileName=AlipayKeyTool-2.0.3.dmg">
                                                支付宝开放平台1</option>
                                            <option
                                                value="https://gw.alipayobjects.com/render/p/yuyan/180020010001210191/umi.9f3e4149.js">
                                                支付宝开放平台2</option>
                                            <option
                                                value="https://gw.alicdn.com/tfscom/TB1fASCxhjaK1RjSZKzXXXVwXXa.jpg">
                                                阿里系Gw</option>
                                        <optgroup label="👇👇 腾讯 👇👇">
                                            <option
                                                value="https://game.gtimg.cn/images/nz/web202106/index/bc_part1.gif?0.3190485611376561">
                                                腾讯游戏-静态资源加速1</option>
                                            <option
                                                value="https://wegame.gtimg.com/g.55555-r.c4663/wegame-home/sc02-03.514d7db8.png">
                                                Wegame-静态资源加速</option>
                                        <optgroup label="👇👇  网易 👇👇">
                                            <option
                                                value="https://nsh.gdl.netease.com/cloudgame_macos/NSH_cloud_game_for_mac_1.4.6_2023_06-02-11.dmg">
                                                网易云游戏</option>
                                        <optgroup label="👇👇  蓝绿大厂 👇👇">
                                            <option
                                                value="https://wwwstatic.vivo.com.cn/vivoportal/files/resource/funtouch/1651200648928/images/os2-jude-video.mp4">
                                                VIVO官网静态资源</option>
                                            <option value="https://dsfs.oppo.com/oppo/shop-pc-v2/main/js/9fb472f.js">
                                                OPPP商城静态资源</option>
                                            <option
                                                value="https://imgwsdl.vivo.com.cn/appstore/developer/soft/20210125/202101251051528awqa.apk">
                                                VIVO应用商店</option>
                                        <optgroup label="👇👇  字节跳动 👇👇">
                                            <option
                                                value="https://lf9-cdn-tos.bytecdntp.com/cdn/yuntu-index/1.0.4/case/maiteng/detailbg.png">
                                                字节CDN资源</option>
                                            <option
                                                value="https://www.douyin.com/download/pc/obj/douyin-pc-web/douyin-pc-client/7044145585217083655/releases/12289031/5.5.0/win32-ia32/douyin-downloader-v5.5.0-win32-ia32-douyincold.exe">
                                                抖音Win客户端</option>
                                        <optgroup label="👇👇  哔哩哔哩 👇👇">
                                            <option
                                                value="https://activity.hdslb.com/blackboard/static/20210604/4d40bc4f98f94fbc71c235832ce3efd4/hJEhL6jGOY.zip">
                                                上海灵羊1</option>
                                        <optgroup label="👇👇  华为 👇👇">
                                            <option
                                                value="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/pdp/phones/p60-pro/images/camera/huawei-p60-pro-camera-ui.mp4">
                                                华为P60-pro素材</option>
                                        <optgroup label="👇👇 拼多多 👇👇">
                                            <option
                                                value="https://funimg.pddpic.com/c3affbeb-9b31-4546-b2df-95b62de81639.png.slim.png">
                                                拼多多H5官网静态资源-图像小文件</option>
                                        <optgroup label="👇👇 国内其他大厂 👇👇">
                                            <option
                                                value="https://dh5.cntv.myhwcdn.cn/asp/h5e/hls/1200/0303000a/3/default/ec48b9f8c76e49af842d4942914ad663/1.ts">
                                                CCTV</option>
                                            <option
                                                value="https://shark2.douyucdn.cn/front-publish/live-master/lib/vendor-room_4e3a873.js">
                                                斗鱼CDN-小文件</option>
                                            <option
                                                value="https://dn-mars-assets.qbox.me/qiniulog/img-slogan-white-en.png">
                                                七牛云</option>
                                        <optgroup label="👇👇 海外优选节点 👇👇">
                                            <option value="https://cachefly.cachefly.net/100mb.test">Cachefly 100MB
                                            </option>
                                            <option value="https://speed.cloudflare.com/__down?bytes=25000000">
                                                cloudflare</option>
                                            <option value="https://sgp-ping.vultr.com/vultr.com.1000MB.bin">Vultr
                                                1G(新加坡)</option>
                                            <option value="https://nj-us-ping.vultr.com/vultr.com.1000MB.bin">Vultr
                                                1G(纽约)</option>
                                            <option value="https://speedtest.tokyo2.linode.com/100MB-tokyo2.bin">Linode
                                                100MB(日本省东京市)</option>
                                            <option value="https://emp.bbci.co.uk/emp/dashjs/3.2.0-8/dash.all.min.js">
                                                BBC中文网</option>
                                    </select>
                                    <input style="" type="text" v-model="set.input"
                                        placeholder="直接在输入框内输入文件资源的下载链接即可，适用于未开启防盗链的直链资源，不支持网盘资源解析" class="form-control"
                                        autocomplete="off">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">线程</label>
                                <div class="form-control-wrap number-spinner-wrap">
                                    <button class="btn btn-icon btn-outline-primary number-spinner-btn number-minus"
                                        @click="if(set.thread>1)set.thread--"><em
                                            class="icon ni ni-minus"></em></button>
                                    <input type="number" class="form-control number-spinner" min="1" max="32"
                                        v-model="set.thread">
                                    <button class="btn btn-icon btn-outline-primary number-spinner-btn number-plus"><em
                                            class="icon ni ni-plus"
                                            @click="if(set.thread<32)set.thread++"></em></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="preview-block">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" v-model="set.infinite"
                                            id="customSwitch2">
                                        <label class="custom-control-label" for="customSwitch2">无限循环</label>

                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-dim btn-outline-secondary btn-block card-link" @click="run">
                                {{set.status?'停止':'开始'}}
                            </button>

                            <div class="row mt-4">
                                <div class="col-sm-12 col-md-4 border stat">
                                    <div class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor"
                                            class="h-15 w-15 float-right pt-3">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z">
                                            </path>
                                        </svg></div>
                                    <div class="stat-title">已消失的流量</div>
                                    <div class="stat-value">{{changeFilesize(waste)}}</div>
                                </div>
                                <div class="col-sm-12 col-md-4 border stat">
                                    <div class="text-info"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor"
                                            class="h-15 w-15 float-right pt-3">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                                        </svg></div>
                                    <div class="stat-title">每秒实时流量</div>
                                    <div class="stat-value text-info">{{speed}}</div>
                                </div>
                                <div class="col-sm-12 col-md-4 border stat">
                                    <div class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor"
                                            class="h-15 w-15 float-right pt-3">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg></div>
                                    <div class="stat-title">运行时长</div>
                                    <div class="stat-value">{{secToTime(spend)}}</div>
                                </div>
                            </div> <br>
                            <p class="stat-title" id="result">...正在努力加载用户侧网络延时情况....</p>
                            <img src="https://tool.lu/netcard/"> <br>
                        </div>
                    </div>
                    <div class="card card-preview">
                        <div class="card-inner">
                            <h6><em class="icon ni ni-info"></em> 工具说明</h6>
                            <div class="accordion-inner">
                                <p>多线程消耗流量,web版流量杀手</p>
                                <p>此工具可以以浪费的形式消耗你的流量</p>

                                <p>
                                    Tips: 如手机套餐内含头条系，阿里系，百度系等定向流量，填写免流量的资源URL，即可直接消耗免费的定向流量</p>
                                <p>如果是要消耗机场流量,建议使用海外节点,速度可能会更快</p>
                                <p>注：虽支持可自定义下载地址 但无法请求跨域链接</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 text-center">
                <p id='hitokoto' class="text-gray"></p>


            </div>
        </div>
    </div>

    <script src="./js/index.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/layer.js"></script>
    <script src="./js/nioapp.min.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script>
        var errors = null
        new Vue({
            el: '#app',
            data: {
                set: {
                    input: 'https://desk.ctyun.cn/desktop/software/clientsoftware/download/ff3e71dcc21152307f54700c62e5aef6',
                    output: '',
                    infinite: true,
                    status: false,
                    thread: 10,
                },
                tasks: [],
                speed: '0.00B/s',
                spend: 0,
                waste: 0,
                timer: null,
                cancelSource: axios.CancelToken.source()
            },
            watch: {
                async 'set.status'(newVal) {
                    if (newVal) {
                        this.cancelSource = axios.CancelToken.source()
                        this.timer = setInterval(() => {
                            this.speed = this.changeDownloadSpeed(this.tasks.reduce(function (prev, curr) {
                                return prev + curr;
                            }, 0));
                            this.spend++
                        }, 1000)
                        do {
                            await new Promise(resolve => {
                                let task = []
                                for (let i = 0; i < this.set.thread; i++) {
                                    task.push(this.download(Math.random().toString(36).substr(2, 10)))
                                }
                                Promise.all(task).finally(resolve)
                            })
                        } while (this.set.status && this.set.infinite)
                    } else {
                        clearInterval(this.timer)
                        this.cancelSource.cancel()
                    }
                }
            },
            methods: {
                run() {
                    this.set.status = !this.set.status
                },
                download(id) {
                    let loaded = 0
                    let speed = 0
                    let timestamp = new Date().getTime()
                    let that = this
                    const index = this.tasks.push(speed) - 1
                    return axios.request({
                        url: this.set.input,
                        params: {
                            [id]: id,
                        },
                        cancelToken: this.cancelSource.token,
                        onDownloadProgress: function (progressEvent) {
                            // 处理原生进度事件
                            const now = new Date().getTime();
                            speed = (progressEvent.loaded - loaded) / (now - timestamp) * 1000
                            that.tasks[index] = speed
                            that.waste += progressEvent.loaded - loaded
                            loaded = progressEvent.loaded
                            timestamp = now
                        },
                    }).catch(e => {
                        if (!axios.isCancel(e)) {
                            //layer.msg(e.message, {icon:2})
                            layer.msg('因对方服务器限制，该资源暂无法访问，建议更换其他节点！', { icon: 2 })
                            //  this.set.status = false
                            this.set.status = true
                        }
                    }).finally(() => {
                        delete that.tasks[index]
                    })
                },
                secToTime(s) {
                    let t = '';
                    if (s > -1) {
                        let hour = Math.floor(s / 3600)
                        let min = Math.floor(s / 60) % 60
                        let sec = s % 60
                        if (hour > 0) {
                            if (hour < 10) {
                                t += '0'
                            }
                            t = hour + "h"
                        }
                        if (hour > 0 || min > 0) {
                            if (min < 10) {
                                t += '0'
                            }
                            t += min + "m"
                        }
                        if (sec < 10) {
                            t += '0'
                        }
                        t += sec + 's'
                    }
                    return t
                },
                changeFilesize: (filesize) => {
                    filesize = parseInt(filesize);
                    let size = "";
                    if (filesize === 0) {
                        size = "0.00 B"
                    } else if (filesize < 1024) { //小于1KB，则转化成B
                        size = filesize.toFixed(2) + " B"
                    } else if (filesize < 1024 * 1024) { //小于1MB，则转化成KB
                        size = (filesize / 1024).toFixed(2) + " KB"
                    } else if (filesize < 1024 * 1024 * 1024) { //小于1GB，则转化成MB
                        size = (filesize / (1024 * 1024)).toFixed(2) + " MB"
                    } else { //其他转化成GB
                        size = (filesize / (1024 * 1024 * 1024)).toFixed(2) + " GB"
                    }
                    return size;
                },
                changeDownloadSpeed(filesize) {
                    filesize = this.changeFilesize(filesize);
                    return filesize.replace(/\s([K|M|G|B]*)B{0,1}/, '$1/s')
                }
            },
        });

        ////页面保活A 网络延迟输出
        function testLatency() {
            var resultElement = document.getElementById('result');
            var urlToTest = 'https://www.baidu.com';
            // var urlToTest = 'https://sqimg.qq.com/qq_product_operations/nettest/index2.html';
            function updateResult(latency) {
                resultElement.innerText = '实时网络延迟：' + latency + ' 毫秒';
            }
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    var endTime = new Date().getTime();
                    var latency = endTime - startTime;
                    updateResult(latency);
                }
            };

            var startTime = new Date().getTime();
            xhr.open('GET', urlToTest, true);
            xhr.send();
        }
        setInterval(testLatency, 3000);
    </script>


    <script>document.oncontextmenu = function (event) {
            if (window.event) {
                event = window.event;
            } try {
                var the = event.srcElement;
                if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")) {
                    return false;
                }
                return true;
            } catch (e) {
                return false;
            }
        }
    </script>

    <script src="//v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-114909353-1');
    </script>

    <script src="./js/texiao.js"></script>

</body>

</html>